body {
    font-family: "Twemoji Country Flags", Arial, sans-serif;
    background-color: transparent;
    color: white; 
    font-weight: 600;
}

.container {
    background-color: transparent;
}

table {
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-spacing: 5px;
}

.flag {
    margin-right: 8px;
    display: inline-block;
}